{% extends 'base.html' %}
{% load bootstrap3 %}

{% block content %}

    {% if average %}
        Overall average waiting time is {{ average }} minutes
    {% else %}
        Nothing is measured yet
    {% endif  %}

<br />

The patients are
<form id="{{ id }}" method="post">

    {% csrf_token %}
    <table class = "table">
        <tr> 
            <td> Patient name </td>
            <td> Checkin </td>
            <td> Reservation </td>
        </tr>
        {% for item in checkin %}
        <tr>
            <td> 1</td>
            <td>{{ item.checkin_time }} | {{ item.in_session_time }} </td>
            <td> <label class='btn btn-primary'>Checkin</label> <input type="submit" id = "checkin" name="checkin" value="{{ item.id }}"  class='btn btn-primary' /></td>
        </tr>
        {% endfor %}
    </table>

</form>

{% endblock %}


<script src="text/javascript">
    $(document).ready(function() {
        console.log("here");

        $.post('', function(data) {
            console.log(data)
        }
    }
</script>
