{% extends 'base.html' %}
{% load bootstrap3 %}

Manu
{% block content %}


<form id="{{ id }}" method="post" >

    {% csrf_token %} 
    {% bootstrap_form form %}

    {% buttons %}
    {% if appointments %}
        <button type="submit" class="btn btn-primary">
            {% bootstrap_icon "star" %} Check in
        </button>
    {% else %}
        <a href="/checkin/patients" class="btn btn-warning">
            {% bootstrap_icon "star" %} No appointments, go back
        </a>
    {% endif %}
    {% endbuttons %}
</form>

{% endblock %}
